[Unit]
Description=Wallpaper service for Sway (swaybg)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
# ExecStart=/usr/bin/swaybg -m fill -i "/home/brunofs/core/imagens/wpp29.jpg"
# ExecStart=/usr/bin/swaybg -m fill -i "/home/brunofs/core/imagens/planet.jpg"
# ExecStart=/usr/bin/swaybg -m fill -i "/home/brunofs/Downloads/bd-coffee.jpg"
ExecStart=/usr/bin/swaybg -m fill -i "/home/brunofs/Pictures/wallpaper.jpg"

Restart=on-failure

[Install]
WantedBy=graphical-session.target
