# Ignore all
*
.local/bin/*

# Include manual folders and files
!.gitignore
!.zshrc
!packages.txt

!.config/
!.config/helix/
!.config/helix/**
!.config/waybar/
!.config/waybar/**
!.config/foot/
!.config/foot/**
!.config/niri/
!.config/niri/**
!.config/swaylock/
!.config/swaylock/**
!.config/images/
!.config/images/**
!.config/wofi/
!.config/wofi/**

!.local/bin/screenshot*.sh

!Pictures/
!Pictures/lockscreen.png
!Pictures/wallpaper.jpg
