# Ignore all
*

# Include manual folders and files
!.gitignore
!.zshrc

!.config/
!.config/helix/
!.config/helix/**
!.config/waybar/
!.config/waybar/**
!.config/foot/
!.config/foot/**
!.config/niri/
!.config/niri/**
!.config/swaylock/
!.config/swaylock/**
!.config/images/
!.config/images/**

!.local/
!.local/bin/
!.local/bin/**

!Pictures/
!Pictures/lockscreen.png
!Pictures/wallpaper.jpg
